<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Duxbury</a>
        </div>
        <!-- Collect the nav links for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">Projects</a>
                </li>
                <li><a href="#about">About</a>
                </li>
                <!--
                <li><a href="#price-sec">Projects</a>
                </li>
                -->
                <li><a href="#contact-sec">Contact</a>
                </li>
                <li><a href="#">e-mail: sduxbury@gmail</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--End Navigation -->


<!--Header section  -->
<div class="container for-home" id="home">
    <div class="row" align="center">
        <div class="col-md-12">
            <h1 class="head-main">Alexander Duxbury</h1>
            <h2 class="head-sub-main">Professional Scientist</h2>
           <!--
            <a class="btn btn-danger btn-lg " href="#about">Notes </a><a class="btn btn-default btn-lg" href="#contact-sec">Contact </a>
            -->
            <div class="head-last"></div>
        </div>
    </div>
</div>
<!--End Header section  -->


<!--words Section-->
<section class="for-full-back color-white" id="about">
    <div class="container">
        <div class="row text-left">
            <div class="col-md-7">
                <h1>About</h1>
                <h4>
                    I'm looking to work with great people to build and grow material projects.
                </h4>
                <p>Welcome to the project portfolio of Alexander Duxbury, M.Sc., P.Geo.
                </p>

            </div>
            <div class="col-md-5 top-pad porait-grid" align="center">
                <%= image_tag "portrait_1.jpg", class: "self-portrait img-circle" %>
            </div>
            </div>
        </div>
    </div>

</section>
<!-- End Bay du Nord Experience Section-->


<!--Experience BDN-->
<section class="for-full-back color-white" id="exp_frac_sect">
    <div class="container ">
        <div class="row ">
             <div class="row">
                <div class="col-md-5 std-text">
                    <h3>Deep Basin, Tight Gas Development</h3>
                        <p>
                          Worked with a team of great people to plan and execute 36 horizontal multi-stage natural gas wells in the Ansell-Edson area Spirit River (Wilrich, Falher and Notikewin), Cardium and Second White Specks.

                        </p>
                        <p>Flowing  52.4mmcf/d, 8,950 boe/d  </p>
                        <p>Cumulative production of 3.05mmboe </p>

                </div>
                <div class="col-md-7 std-text">
                        <div id="prodByYear" style="height: 300px; width: 98%;"></div>
                        <div id="prodByFm" style="height: 300px; width: 98%;"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--end Experience Section - BDN>

<!--Experience BDN-->
<section class="for-full-back color-white" id="exp_frac_sect">
    <div class="container ">
        <div class="row">
             <div class="row">
                <div class="col-md-5 std-text">
                    <h3>Offshore Newfoundland - Bay du Nord Exploration and Appraisal</h3>
                    <p>
                      Worked with team of geoscientists to plan and execute exploration and appraisal wells in the Bay du Nord area.  Delivered prospects and leads for regional opportunity inventory in the Flemish pass surrounding Bay du Nord and evaluated 2015 license block round consisting of 11 blocks.</p>

                    
                </div>
                <div class="col-md-7 std-text">
                  <%= image_tag 'ed_map_flemish.png', class: "img-responsive std-img" %>
                </div>

             </div>
        </div>
    </div>

</section>
<!--end Experience Section - BDN>

<!--Experience Section Cap rock-->
<section class="for-full-back color-white" id="exp_frac_sect">
    <div class="container ">
        <div class="row">
             <div class="row">
                <div class="col-md-5 std-text">

                    <h3>Cap Rock Integrity for CO2 EOR and Sequestration </h3>
                    <h4>Fracture Detection using 3D Seismic Azimuthal AVO Analysis</h4>
                    <p>
                      Delivered maps of seismic amplitude anisotropy to infer potential risks to cap rock and overlying sealing unit integrity as part of the Weyburn-Midale CO2 EOR and Sequestration pilot project.  Processed and interpreted 3D seismic data using Landmark's Promax, wrote AVOA/AVAZ seismic inversion program in Matlab, integrated results with core data and published findings in the SEG journal Geophysics.

                    </p>
                    <%= image_tag "avo_surface_fit.png", class: "img-responsive std-img" %>

                </div>
                <div class="col-md-7 std-text">
                    <%= image_tag "anisotropy_mapcolor.png", class: "img-responsive std-img", style: "margin:auto;" %>
                    <%= image_tag "anisotropy_Figure.png", class: "img-responsive std-img", style: "margin:auto" %>
                </div>

             </div>
        </div>
    </div>

</section>
<!--end Experience Section>
<!--End words Section-->




<!-- Pricing Section -->

  <section class="for-full-back color-white " id="price-sec">
    <div class="container">
        <div class="row text-left">
            <div class="col-md-8 col-md-offset-2">
                <h1>.. in progress</h1>
                <h4>Analysis, visualization and manipulation of public domain seismic using open source methods</h4>
                <h4>Real time decline analysis and royalty payments</h4>
            </div>

        </div>
    </div>
</section>

<!--image banner
<section class="for-full-back for-parallax-two" id="Parallax-two">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1>Lorem ipsum dolor sit</h1>
                <h5>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h5>
            </div>

        </div>


    </div>
</section>
<!--Image banner ->
End Pricing Section -->

<!-- Contact Section -->
<section class="for-full-back color-white " id="contact-sec">
    <div class="container">


        <div class="row">
            <div class="col-md-5 contact-cls">
                <div>
                    <p></p>
                    <span><i class="fa fa-home"></i>&nbsp;Location: Calgary, Alberta</span>
                    <br />
                    <span><i class="fa fa-phone"></i>&nbsp;Phone: 587-777-4844</span>
                    <br />
                    <span><i class="fa fa-envelope-o"></i>&nbsp;E-Mail: burycorporate@gmail.com</span>
                    <br />
                    <span><i class="fa fa-globe"></i>&nbsp;www.herokuapp.com</span>
                    <br />
                </div>
                <br />
                <div id="social-icon">
                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
                </div>
            </div>
            <div class="col-md-7 ">
                <h2 >Connect</h2>
                <p>
                    Fire off a message with your email, looking forward to hearing from you.
                </p>
               <p> Sandy </p>

                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<!--End Contact Section -->
<!--footer Section -->
<div class="for-full-backa" id="footer">
    2016 duxbury.herokuapp.com | All Right Reserved

</div>

<script type="text/javascript"
      src='https://www.google.com/jsapi?autoload={
        "modules":[{
        "name":"visualization",
        "version":"1"
        }]
      }'></script>
<script type="text/javascript">
  google.setOnLoadCallback(drawVisualization);
  function drawVisualization() {
    var wrap = new google.visualization.ChartWrapper({
       'chartType':'AreaChart',
       'dataSourceUrl':'https://docs.google.com/spreadsheets/d/1j55apMQevZzn9DOgugHmwIlqo5N9_3MNARiexLcT_4E/edit#gid=0',
       'containerId':'prodByYear',
       'options': {'isStacked': true,'title':'Production by Year', 'legend':'true', 'legend':'true', 'vAxis': {'title': 'Average Daily Production (boe/d)'}}
        });
     wrap.draw();
  }
</script>

<script type="text/javascript">
  google.setOnLoadCallback(drawVisualization);
  function drawVisualization() {
    var wrap = new google.visualization.ChartWrapper({
       'chartType':'AreaChart',
       'dataSourceUrl':'https://docs.google.com/spreadsheets/d/1jhPmzZbUqjBT7egKiLyiz_eRXCgUuSJaHCDG-Ce9-u0/edit#gid=0',
       'containerId':'prodByFm',
       'options': {'isStacked': true,'title':'Production by Formation', 'legend':'true','vAxis': {'title': 'Average Daily Production (boe/d)'}}
       });
     wrap.draw();
  }
</script>
